<div class="container">
  <div class="text-center mt-xl-5">
    <h2><strong>About Me</strong></h2>
  </div>

  <ul class="list-unstyled">
    <li class="media">
      <img src="assets/me.jpg" class="mr-3 img-fluid" height="150" width="150" alt="German">
      <div class="media-body">
        <h4 class="mt-0 mb-1"><strong>Hello, my name is German Hernández</strong></h4>
        I am a boy originally from a town in El Salvador called Olocuilta. I'll tell you a little more about me right away.
        <br><br>
        But first I want to thank for the opportunity to give me this test to test my skills, also tell you that I had about two years of not knowing about Angular, and now that I saw it again, I found it very fun. Really, thank you so much!
      </div>
    </li>

    <br><br>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Family Guy
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            I enjoy time at home and in family, for me it is the motor that moves me to continue climbing steps in my professional career. Mainly my mother, who at her years recently obtained a master's degree. Amazing!
            <br><br>
            I also love to travel with my girlfriend, to know new places of our country and of course, eat all kinds of dishes lol
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Challenger Finder
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            I think that like any programmer, I love challenges, more those that seem impossible, or too complicated for others. I always like to exceed my limits and that leads me to have the ability to learn quickly whatever it is.

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              The professional
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            I started in college, more than as my something of my career, it was a curiosity, and one of the best discoveries of my life.
            Currently I have been programming for about 5 years, having experienced different types of languages, from Visual Basic to Java Android, but the one that really stole my heart from the first time has been PHP to be exact, Laravel.
            <br><br>
            From creating static websites to consuming google APIs and programming cron jobs, laravel has taught me many more things because of its current environment. If I am accepted in the Vertikal family, I want to contribute all my knowledge to promote the company on a larger scale and grow with you.
          </div>
        </div>
      </div>
    </div>

    <h3>Again, I reiterate my gratitude.</h3>
    <br>
    <h3>German Hernández</h3>

  </ul>
</div>
