<div class="container">
  <div class="text-center mt-xl-5">
    <h2><strong>Blogs</strong></h2>
  </div>

  <br>

  <div class="text-center">
    <button class="btn btn-primary" (click)="getPosts()">See All Posts</button>
  </div>
  <hr>

  <div class="accordion" id="accordionExample">

    <div *ngFor="let post of posts | async">
      <div class="card text-center">
        <div class="card-header">
          <h3>{{post.title.rendered}}</h3>
        </div>
        <div class="card-body" [innerHTML]="post.content.rendered">

        </div>
        <div class="card-footer text-muted">
          Publishes on {{post.date}}
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
